<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>IMDb clone</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/static/css/style.css">

  
</head>

<body>

  <div id="wrapper">
  
  <header>
    
    <nav>
      
      <!-- <img class="logo" src="http://ia.media-imdb.com/images/M/MV5BMTczNjM0NDY0Ml5BMl5BcG5nXkFtZTgwMTk1MzQ2OTE@._V1_.png"/> -->
      <ul class="nav">
        <li class="active">movies</li>
        <li>news</li>
      </ul>
      <div class="user">
        <i class="fa fa-gear user-settings"></i>
        <img class="user-icon" src="https://scontent.fhan5-4.fna.fbcdn.net/v/t1.0-9/53618402_1968779323429288_7126051605417295872_n.jpg?_nc_cat=104&_nc_oc=AQm2NOQCZJowND7iiQI6_kzYE4D7rq1fc1vsY1scuZ8AZaI1PsuDWV9URH7FZXWBmH4Q2ORSF72nat9D8I49wvsC&_nc_ht=scontent.fhan5-4.fna&oh=bab1f670277cedb6b90f82b6b3dbd99a&oe=5D14652A"/>
      </div><!--user end-->
      
    </nav>
    
    <div class="movie-info">
      <h1>Avengers EndGame</h1>
      <ul class="genre">
        <li>action</li>
        <li>adventure</li>
        <li>fantasy</li>
      </ul><!--genre-->
      <button onclick="window.location.href='https://www.youtube.com/watch?v=TcMBFSGVi1c'">watch trailer <i class="fa fa-play-circle-o"> </i></button>
      <h3>In Theaters</h3>
      <h4>26 April, 2019 (USA)</h4>
    </div><!--movie-info end-->
    
  </header>
  
  <main>
    
    <ul class="options">
      <li class="active">in theaters</li>
      <li>coming soon</li>
      <li>charts</li>
      <li>tv series</li>
      <li>trailers</li>
    </ul>
    
    <div id="forms">
      <div class="buttons">
        <i class="fa fa-navicon"></i>
        <i class="fa fa-th"></i>
      </div>
      <form id="range-form">
      <p>IMDb Rating</p>
      <div class="group">    
        <input id="range" type="range" min="6.0" max="8.3" step="0.1" value="6">
        <p id="results">6</p>
      </div>
    </form>

    <form id="search-form">
      <input id="search" type="search" results="5" placeholder="Search Movies...">
      <i class="fa fa-search"></i>
    </form>
  </div><!--forms-->
    
    <section id="movies">      
            
              <figure>
                <img src="<%= data.mv.poster %>"/>
                <figcaption>
                  <h5><%= data.mv.movieName %></h5>
                  <p><%= data.mv.genre %></p>
                  <div class="rating">
                    <i class="fa fa-heart"></i>
                    <h4><%= data.mv.rate_average %></h4>
                  </div>
<!-- ONCLICK BUTTON -->
                  <button onclick="window.location.href='/admin/movieDetails/<%=data.mv.id%>'">                                
                    <i class="fa fa-plus"></i>
                  </button>
                </figcaption>
              </figure>
            
    </section>
  </main><!--container end-->
  <!-- <div class="loading"><i class="fa fa-spinner"></i></div> -->
  <footer>
    <div>
      <h3>IMDb</h3>
      <div class="social-links">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
      </div><!--social-links end-->
      <p>1990-2019 imdb.com, inc</p>
    </div>
    <a href="#">show menu</a>
  </footer>
</div><!--wrapper end-->
  
  

<script src="/static/js/index.js">
     </script>

<script src="/static/js/movie.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>

</html>
